flask
flask-cors
llama-index
llama-index-llms-gemini
llama-index-embeddings-gemini
llama-index-retrievers-bm25
google-cloud-storage
typing
gunicorn
llama-index-vector-stores-chroma
nest-asyncio
llama-index-vector-stores-elasticsearch
elasticsearch
asgiref
hypercorn